@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
body {
  background-image: repeating-linear-gradient(white,
  white 6px,
  #f8fafc 8px);
}

.vt323-regular {
  font-family: "VT323", monospace !important;
  font-weight: 400;
  font-style: normal;
}


.blog-container {
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 15%;
}

@media (min-width: 1400px) {
  .blog-container {
    padding-left: 20%;
    padding-right: 20%;
    padding-bottom: 10%;
  }
}

@media (min-width: 2000px) {
  .blog-container {
    padding-left: 30%;
    padding-right: 30%;
    padding-bottom: 5%;
  }
}

.rainbow {
  background: #CF7075;
  animation: blinker 1.2s step-end infinite;
  animation: rainbow 7s infinite alternate;
}

div.top-menu {
  background: #222;
  height: 50px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  margin-top: 30px;
  margin-bottom: 0;
  padding-left: 10px;
  padding-right: 25px;
  padding-top: 15px;
  display: flex;
  justify-content: space-between;

}

div.top-menu div {
  display: inline;

}

.link {
  display: block;
  margin-top: 50px !important;
  width: 91px;
  border: 2px solid white;
  padding: 5px;
  color: #81bcda;
  animation: blinker 1.2s step-end infinite;
}


span {
  margin-left: 6px;
}

span.red {
  background-color: #e4514f;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  margin-right: 4px;
  display: inline-block;
}

span.orange {
  background-color: #f4c025;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  margin-right: 4px;
  display: inline-block;

}

span.green {
  background-color: #3ec930;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  margin-right: 4px;
  display: inline-block;
}

span.date {
  text-align: right;
  font-style: italic;
}

div.inner {
  background: #222;
  margin-top: 0;
  margin-bottom: 0;
  text-align: left;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  font-family: 'Inconsolata', monospace;
  padding: 30px;
  color: white;
}

.data-title {
  text-align: left;
}

div.tags {
  color: white;
  background: #222;
  padding: 20px;
  padding-bottom: 15px;
  font-size: 40%;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.more {
  border: 2px solid white;
  width: 20%;
  height: 30px;
}

.more h4 {
  height: 25px;
}

div.tags span {
  background: #CF7075;
  padding: 6px;
  font-size: 15px;
  border-radius: 50%;
}

div.tags span:hover {
  filter: brightness(125%);
}

div.tags span:nth-child(2) {
  background: #BB7CD7;
}

div.tags span:nth-child(3) {
  background: #74ADEA;
}

div.tags span:nth-child(4) {
  background: #9AB97B;
}

div.tags span:nth-child(5) {
  background: #C79B6D;
}



@keyframes rainbow {
  0% {
    background: #CF7075;
  }

  20% {
    background: #ffc07c;
  }

  40% {
    background: #FEDE9A;
  }

  60% {
    background: #9BD0A5;
  }

  80% {
    background: #74ADEA;
  }

  100% {
    background: #a88dea
  }
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

[tooltip=""]::before,
[tooltip=""]::after {
  opacity: 0 !important;
}

[tooltip] {
  position: relative;
  font-size: 16px;
}

[tooltip]::before,
[tooltip]::after {
  position: absolute;
  line-height: 1;
  user-select: none;
  pointer-events: none;
  opacity: 0;
  visibility: hidden;
  transition: opacity 180ms ease-in, visibility 200ms ease-in;
  z-index: 1000;
}

[tooltip]:hover::before,
[tooltip]:hover::after {
  opacity: 1;
  visibility: visible;
}

[tooltip]::before {
  content: "";
  border: 5px solid transparent;
}

[tooltip]::after {
  content: attr(tooltip);
  text-align: center;
  font-size: 13px;
  font-family: Helvetica, sans-serif;
  min-width: 32px;
  max-width: 21em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #fff;
  background: rgba(97, 97, 97, 0.95);
  padding: 9px 10px;
  border-radius: 3px;
  box-shadow: 0 12px 22px -10px rgba(0, 0, 0, 0.25);
}

[tooltip]:not([tooltip-flow])::before,
[tooltip][tooltip-flow^=top]::before {
  left: 50%;
  transform: translateX(-50%);
  bottom: calc(100% - 5px);
  border-top-color: rgba(97, 97, 97, 0.95);
}

[tooltip]:not([tooltip-flow])::after,
[tooltip][tooltip-flow^=top]::after {
  left: 50%;
  bottom: calc(100% + 5px);
  transform: translateX(-50%);
}

[tooltip][tooltip-flow^=bottom]::before {
  left: 50%;
  transform: translateX(-50%);
  top: calc(100% - 5px);
  border-bottom-color: rgba(97, 97, 97, 0.95);
}

[tooltip][tooltip-flow^=bottom]::after {
  left: 50%;
  top: calc(100% + 5px);
  transform: translateX(-50%);
}

[tooltip][tooltip-flow^=left]::before {
  top: 50%;
  right: calc(100% - 5px);
  transform: translateY(-50%);
  border-left-color: rgba(97, 97, 97, 0.95);
}

[tooltip][tooltip-flow^=left]::after {
  top: 50%;
  right: calc(100% + 5px);
  transform: translateY(-50%);
}

[tooltip][tooltip-flow^=right]::before {
  top: 50%;
  left: calc(100% - 5px);
  transform: translateY(-50%);
  border-right-color: rgba(97, 97, 97, 0.95);
}

[tooltip][tooltip-flow^=right]::after {
  top: 50%;
  left: calc(100% + 5px);
  transform: translateY(-50%);
}


#view_all {
  display: block;
  margin: 0 auto;
  text-align: center;
  border: 1px solid grey;
  width: 20%;
  font-family: 'Inconsolata', monospace;
  padding: 10px 0;
}

#view_all:hover {
  background: #74ADEA;
}

.link:hover {
  background: white;
}

.gameboy {
  position: relative;
}

.gameboy .switch {
  width: 14px;
  height: 6px;
  background: #c8c4c5;
  border-radius: 20px 20px 0 0;
  position: absolute;
  top: -5px;
  left: 35px;
  background-image: linear-gradient(0deg, #a69999, #d9d5da 95% 99%, transparent);
  animation: switchOn;
  animation-duration: 1s;
  animation-delay: 1s;
}

.gameboy .base {
  width: 263px;
  height: 437px;
  border-radius: 10px 10px 60px 10px;
  background: #eee6e2;
  overflow: hidden;
  position: relative;
  background-image: linear-gradient(90deg, #d0c8c0, transparent 6% 95%, #f6f5f2 98% 99%, transparent), linear-gradient(0deg, #eee6e2, transparent 1% 97%, #f6f5f2 99% 99%, transparent, #d0c8c0);
  box-shadow: -3px 0px 5px 0px #f6f2ee inset, 6px 0 6px 1px #e5ddd7 inset, 0 3px 3px #f6f2ee inset, 0 35px 20px -2px rgba(0, 0, 0, 0.08), 0 55px 50px -5px rgba(0, 0, 0, 0.05);
}

.gameboy .base .line__top {
  width: 263px;
  height: 5px;
  top: 22px;
  position: absolute;
  background: #dbd5ce;
  background-image: linear-gradient(90deg, #d0c8c0, transparent 8% 95%, #f6f5f2 97% 98%, transparent);
}

.gameboy .base .line__side__R,
.gameboy .base .line__side__L {
  width: 5px;
  height: 24px;
  position: absolute;
  background: #dbd5ce;
  background-image: linear-gradient(90deg, #f6f5f2, transparent 10% 40%, #d0c8c0);
}

.gameboy .base .line__side__R {
  left: 20px;
}

.gameboy .base .line__side__L {
  right: 20px;
}

.gameboy .base .on__off__btm {
  width: 50px;
  height: 10px;
  background: #000;
  position: absolute;
  z-index: 999;
  left: 30px;
  top: 9px;
  border-radius: 50px;
  background: #eee6e2;
  box-shadow: 1px 1px 1px 1px #f6f5f2 inset, -1px -1px 1px 1px #d0c8c0 inset;
  color: gray;
  text-align: center;
  font-size: 6px;
}

.gameboy .base .on__off__line {
  width: 3px;
  height: 12px;
  background: #eee6e2;
  position: absolute;
  left: 35px;
  background-image: linear-gradient(0deg, #eee6e2, transparent 35% 60%, #f6f2ee 60% 80%, #eee6e2 90% 100%);
}

.gameboy .base .on__off__line:nth-child(2) {
  left: 40px;
}

.gameboy .base .on__off__line:nth-child(3) {
  left: 45px;
}

.gameboy .base .display {
  width: 224px;
  height: 171px;
  background: #9a97a1;
  margin: 38px auto;
  position: relative;
  border-radius: 10px 10px 36px 10px;
  box-shadow: -1px 0px 1px #939098 inset, 1px 0 1px #939098 inset, 0 1px 1px #b9b8c3 inset;
}

.gameboy .base .display .battery {
  position: absolute;
  top: 62px;
  left: 13px;
  width: 8px;
  height: 8px;
  border-radius: 50px;
  background: gray;
  animation: batteryOn 5s;
  animation-duration: 1s;
  animation-delay: 1s;
}

.gameboy .base .display .battery.active {

  background: #f74f2f;
}

.gameboy .base .display .battery::after {
  content: "BATTERRY";
  color: #d8d7e1;
  font-size: 5px;
  font-family: "Merriweather Sans", sans-serif;
  font-weight: 300;
  margin-left: -6px;
}

.gameboy .base .display .display__top {
  position: absolute;
  top: 10px;
  left: 59%;
  transform: translate(-50%, -50%);
  width: 118px;
  height: 10px;
  background: #9a97a1;
  color: #d8d7e1;
  font-size: 6px;
  font-family: "Merriweather Sans", sans-serif;
  font-weight: 300;
  text-align: center;
}

.gameboy .base .display__line {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.gameboy .base .display__line__l {
  width: 200px;
  height: 3px;
  background: #9f447e;
  margin-bottom: 2px;
}

.gameboy .base .display__line__l:nth-child(2) {
  background: #2039a2;
}

.gameboy .base .display__inner {
  width: 142px;
  height: 129px;
  background: #8a9b38;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 2px;
  box-shadow: -10px 0px 5px -1px #7d7e4c inset, 5px 0 10px #7d7e4c inset, -5px 0px 2px #6d664b inset;
  overflow: hidden;
}

.gameboy .base .display__inner .text__here {
  width: 100%;
  position: absolute;
  top: -10%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #1a6770;
  font-family: "Gidugu", sans-serif;
  font-size: 18px;
  text-align: center;
  animation: title 5s;
  animation-delay: 2s;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}

.gameboy .base .left__key__tate {
  width: 24px;
  height: 67px;
  background: #0a0a0a;
  position: absolute;
  left: 43px;
  top: 265px;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gameboy .base .left__key__yoko {
  width: 67px;
  height: 24px;
  background: #0a0a0a;
  position: absolute;
  left: 21px;
  top: 286px;
  border-radius: 3px;
}

.gameboy .base .left__key__tate__inner {
  position: absolute;
  left: 45px;
  top: 268px;
  width: 20px;
  height: 61px;
  border-radius: 3px;
  background: #55565b;
  box-shadow: -1px 0px 2px 0px #6f7075 inset, 2px -4px 2px #31303a inset, -9px 0px 3px 0px rgba(0, 0, 0, 0.08), -9px 0px 5px 0px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.gameboy .base .left__key__tate__inner__grips {
  width: 70%;
  height: 5px;
  background: #55565b;
  box-shadow: -1px 0px 2px 0px #6f7075 inset, 2px -2px 2px #31303a inset;
}

.gameboy .base .left__key__yoko__inner {
  width: 61px;
  height: 20px;
  position: absolute;
  left: 24px;
  top: 288px;
  border-radius: 3px;
  background: #55565b;
  box-shadow: -1px 0px 2px 0px #6f7075 inset, 2px -4px 2px #31303a inset, -9px 0px 3px 0px rgba(0, 0, 0, 0.08), -9px 0px 5px 0px rgba(0, 0, 0, 0.05);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.gameboy .base .left__key__yoko__inner__grips {
  width: 5px;
  height: 65%;
  background: #55565b;
  box-shadow: -1px 1px 1px #6f7075 inset, 1px -1px 1px #31303a inset;
}

.gameboy .base .left__key__center {
  width: 20px;
  height: 20px;
  background: #55565b;
  position: absolute;
  left: 45px;
  top: 288px;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gameboy .base .left__key__center__cir {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  box-shadow: -2px 2px 5px #31303a inset, 2px -4px 5px #6f7075 inset;
}

.gameboy .base .nintendo {
  position: absolute;
  top: 208px;
  left: 20px;
  color: #2039a2;
  font-family: "Gidugu", sans-serif;
  font-size: 18px;
}

.gameboy .base .nintendo .name {
  font-style: italic;
  font-weight: 300;
  font-family: "Merriweather Sans", sans-serif;
  margin-left: 2px;
}

.gameboy .base .nintendo .name .tm {
  font-size: 6px;
}

.gameboy .base .right__key {
  position: absolute;
  left: 168px;
  top: 280px;
  transform: rotate(-27deg);
}

.gameboy .base .right__key .right__key__btn {
  width: 94px;
  height: 43px;
  border-radius: 50px;
  background: #eee6e2;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 10px 2px 30px 3px #eee6e2 inset, -30px -20px 40px 0px #dbd5d0 inset;
}

.gameboy .base .right__key .right__key__btn__R,
.gameboy .base .right__key .right__key__btn__L {
  width: 33px;
  height: 33px;
  background: #b34c77;
  border-radius: 50px;
  box-shadow: -1px 0px 3px 0px #fad3ee inset, 2px -4px 5px #b2356b inset, -9px -2px 3px -1px rgba(0, 0, 0, 0.08), -9px -2px 5px -1px rgba(0, 0, 0, 0.05);
}

.gameboy .base .right__key .right__key__label {
  margin-top: 0px;
  width: 94px;
  display: flex;
  justify-content: space-around;
  color: #2039a2;
}

.gameboy .base .right__key .right__key__label .a,
.gameboy .base .right__key .right__key__label .b {
  font-size: 10px;
}

.gameboy .base .selectStart {
  width: 90px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  left: 77px;
  bottom: 50px;
}

.gameboy .base .selectStart .selectStart__slect,
.gameboy .base .selectStart .selectStart__start {
  transform: rotate(-27deg);
  text-align: center;
}

.gameboy .base .selectStart .selectStart__slect .start,
.gameboy .base .selectStart .selectStart__slect .select,
.gameboy .base .selectStart .selectStart__start .start,
.gameboy .base .selectStart .selectStart__start .select {
  font-size: 7px;
  color: #2039a2;
}

.gameboy .base .selectStart__btn {
  width: 40px;
  height: 17px;
  background: #eee6e2;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  box-shadow: -3px 3px 2px 3px #eee6e2 inset, 0px -4px 2px #dbd5d0 inset;
}

.gameboy .base .selectStart__btn__inner {
  width: 32px;
  height: 9px;
  border-radius: 50px;
  background: #a99e9e;
  box-shadow: -1px 0px 2px 2px #d2d0d3 inset, 0px 4px 2px #9e9592 inset;
}

.gameboy .base .speaker {
  width: 80px;
  display: flex;
  justify-content: space-between;
  position: absolute;
  right: 10px;
  bottom: 23px;
  transform: rotate(-27deg);
}

.gameboy .base .speaker__Light {
  width: 150px;
  height: 50px;
  position: absolute;
  background: #f6f0ed;
  top: 38px;
  left: -30px;
  opacity: 0.7;
}

.gameboy .base .speaker__line {
  width: 5px;
  height: 44px;
  border-radius: 50px;
  background: #b8aeaa;
  position: relative;
  overflow: hidden;
}

.gameboy .base .speaker__line::after {
  position: absolute;
  content: "";
  width: 5px;
  height: 30px;
  background: #1a0b0a;
  border-radius: 50px;
  top: 0px;
  left: -3px;
}

.gameboy .base .phones {
  width: 40px;
  height: 17px;
  position: absolute;
  bottom: 0;
  left: 98px;
  color: #f6f2ee;
  text-align: center;
  font-size: 6px;
}

.gameboy .base .phones__top {
  width: 40px;
  height: 10px;
  border-radius: 50px;
  background: #eee6e2;
  box-shadow: 1px 1px 1px 1px #f6f5f2 inset, -1px -1px 1px 1px #d0c8c0 inset;
}

.gameboy .base .phones__line {
  width: 15px;
  height: 120%;
  background: #e5ddd7;
  position: absolute;
  right: 5px;
  display: flex;
  justify-content: space-around;
  z-index: 10;
  background-image: linear-gradient(0deg, #f6f5f2, transparent 10% 40%);
}

.gameboy .base .phones__line__inner {
  width: 3px;
  height: 100%;
  background: #eee6e2;
  border-radius: 0 0 25px 25px/0 0 25px 25px;
}

@keyframes title {
  100% {
    top: 50%;
  }
}

@keyframes batteryOn {
  0% {
    background: #67534d;
  }

  100% {
    background: #f74f2f;
  }
}

@keyframes switchOn {
  0% {
    left: 30px;
  }

  100% {
    left: 35px;
  }
}


.text-string {
  color: #98C379;
}

.text-array {
  color: #E5C07C;
}

.text-let {
  color: #C678DE;
  margin: 0 !important;
}

.text-equal {
  color: #55B6C2;
}


.text-dark {
  color: #222;
}

/* Absolute Center Spinner */
.loading {
  position: fixed;
  z-index: 999999;
  height: 2em;
  width: 2em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/* Transparent Overlay */
.loading:before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(rgba(20, 20, 20, .8), rgba(0, 0, 0, .8));

  background: -webkit-radial-gradient(rgba(20, 20, 20, .8), rgba(0, 0, 0, .8));
}

/* :not(:required) hides these rules from IE9 and below */
.loading:not(:required) {
  /* hide "loading..." text */
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.loading:not(:required):after {
  content: '';
  display: block;
  font-size: 10px;
  width: 1em;
  height: 1em;
  margin-top: -0.5em;
  -webkit-animation: spinner 150ms infinite linear;
  -moz-animation: spinner 150ms infinite linear;
  -ms-animation: spinner 150ms infinite linear;
  -o-animation: spinner 150ms infinite linear;
  animation: spinner 150ms infinite linear;
  border-radius: 0.5em;
  -webkit-box-shadow: rgba(255, 255, 255, 0.75) 1.5em 0 0 0, rgba(255, 255, 255, 0.75) 1.1em 1.1em 0 0, rgba(255, 255, 255, 0.75) 0 1.5em 0 0, rgba(255, 255, 255, 0.75) -1.1em 1.1em 0 0, rgba(255, 255, 255, 0.75) -1.5em 0 0 0, rgba(255, 255, 255, 0.75) -1.1em -1.1em 0 0, rgba(255, 255, 255, 0.75) 0 -1.5em 0 0, rgba(255, 255, 255, 0.75) 1.1em -1.1em 0 0;
  box-shadow: rgba(255, 255, 255, 0.75) 1.5em 0 0 0, rgba(255, 255, 255, 0.75) 1.1em 1.1em 0 0, rgba(255, 255, 255, 0.75) 0 1.5em 0 0, rgba(255, 255, 255, 0.75) -1.1em 1.1em 0 0, rgba(255, 255, 255, 0.75) -1.5em 0 0 0, rgba(255, 255, 255, 0.75) -1.1em -1.1em 0 0, rgba(255, 255, 255, 0.75) 0 -1.5em 0 0, rgba(255, 255, 255, 0.75) 1.1em -1.1em 0 0;
}

/* Animation */

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-moz-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-o-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}



.record-player {
  position: relative;
  transform: scale(0.8);
}

.plinth {
  position: relative;
  width: 400px;
  height: 300px;
  border-radius: 20px;
}

.plinth:before {
  content: "";
  position: absolute;
  width: 395px;
  height: 295px;
  background-color: #a1a1aa;
  border-radius: 20px;
}

.plinth:after {
  content: "";
  position: absolute;
  border-radius: 50%;
  background-color: #2c2424;
  width: 30px;
  height: 30px;
  top: 20px;
  left: 20px;
  box-shadow: 0 230px #2c2424;
}

input#headshell {
  display: none;
}

input#volume-control {
  -webkit-appearance: none;
  width: 100%;
  background-color: transparent;
}

input#volume-control:focus {
  outline: none;
}

input#volume-control::-ms-track {
  width: 100%;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

input#volume-control {
  position: absolute;
  z-index: 1;
  transform: rotate(-90deg) scale(.25);
  left: 40%;
  top: 70%;
}

input#volume-control::-webkit-slider-thumb {
  -webkit-appearance: none;
  cursor: pointer;
  width: 40px;
  height: 70px;
  background-color: #333533;
  border: none;
  border-radius: 2px;
  margin-top: -4px;
}

input#volume-control::-moz-range-thumb {
  cursor: pointer;
  width: 30px;
  height: 70px;
  background-color: #333533;
  border: none;
  border-radius: 2px;
}

input#volume-control::-ms-thumb {
  cursor: pointer;
  width: 30px;
  height: 70px;
  background-color: #333533;
  border: none;
  border-radius: 2px;
}

input#volume-control::-webkit-slider-runnable-track {
  background-color: #d6d6d6;
  border: none;
  margin: -30px;
}

input#volume-control::-moz-range-track {
  background-color: #333533;
  border: 30px solid black;
  outline: 2px solid #d6d6d6;
}

.platter {
  position: absolute;
  border-radius: 50%;
  width: 270px;
  height: 270px;
  background-color: #d6d6d6;
  z-index: 2;
  top: 15px;
  left: 15px;
}

.platter:before {
  content: "";
  position: absolute;
  border-radius: 50%;
  background-color: #d6d6d6;
  width: 40px;
  height: 40px;
  border: 10px solid #2c2424;
  left: 280px;
  top: 30px;
}

.vinyl {
  position: absolute;
  background-image: repeating-radial-gradient(#181312, #181312 10%, #2c2424 15%);
  border-radius: 50%;
  width: 250px;
  height: 250px;
  z-index: 5;
  top: 25px;
  left: 25px;
  overflow: hidden;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, .5);
}

.vinyl:before,
.vinyl:after {
  content: "";
  position: absolute;
  border-style: solid;
  border-color: rgba(255, 255, 255, .1) transparent transparent transparent;
  border-width: 130px 50px 0 125px;
}

.vinyl:after {
  top: 170px;
  left: 60px;
  transform: rotate(-65deg);
}

.top-circle {
  position: absolute;
  z-index: 10;
  width: 70px;
  height: 70px;
  background-image: url("https://i.scdn.co/image/ab67616d0000b273e0114a86a2a0a7d8762951d9");
  background-size: contain;
  border-radius: 50%;
  top: 115px;
  left: 115px;
}

.top-circle:before {
  content: "";
  position: absolute;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  background-color: #181312;
  top: 28px;
  left: 28px;
}

.headshell {
  width: 30px;
  height: 140px;
  position: absolute;
  border-right: 10px solid #ffffff;
  border-bottom: 10px solid #ffffff;
  border-bottom-right-radius: 50px;
  z-index: 15;
  left: 290px;
  top: 80px;
  cursor: pointer;
  transition: .3s;
  transform-origin: top;
}

.headshell:before,
.headshell:after {
  content: "";
  position: absolute;
}

.headshell:before {
  background-color: black;
  width: 20px;
  height: 30px;
  top: -20px;
  left: 25px;
}

.headshell:after {
  height: 0;
  width: 15px;
  border-top: 25px solid #b2aea6;
  border-right: 2px solid transparent;
  border-left: 2px solid transparent;
  top: 133px;
  left: -20px;
  transform: rotate(90deg);
}

#headshell:checked+.headshell {
  transform: rotate(35deg);
}

@keyframes play {
  to {
    transform: rotate(360deg);
  }
}

#headshell:checked~.vinyl {
  animation: play 2s linear infinite .3s;
}


/* vinyl stuff */

.vinyl-jacket {
  position: relative;
  border-radius: 1px;
  width: 200px;
  height: 200px;
  margin-top: 20px;
  perspective: 200px;
  transform-style: preserve-3d;
  background-image: linear-gradient(rgba(255, 255, 255, 0.12), rgba(0, 0, 0, 0)), url("https://i.scdn.co/image/ab67616d0000b273e0114a86a2a0a7d8762951d9");
  background-size: cover;
  box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.6), inset 1px 0 1px rgba(0, 0, 0, 0.3), inset 0 -1px 1px rgba(0, 0, 0, 0.6);
  cursor: pointer;
}

.vinyl-jacket::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("https://i.scdn.co/image/ab67616d0000b273e0114a86a2a0a7d8762951d9");
  background-size: cover;
  transform: translateY(8%) scaleY(-1) scaleX(1.18) rotateX(-20deg);
  -webkit-mask-image: linear-gradient(transparent 80%, rgba(255, 255, 255, 0.1));
  mask-image: linear-gradient(transparent 80%, rgba(255, 255, 255, 0.1));
  pointer-events: none;
}

.vinyl-wrapper {
  position: absolute;
  z-index: -1;
  border-radius: 50%;
  top: 0;
  left: 16%;
  width: 100%;
  height: 100%;
  transform: translateZ(-8px);
  filter: drop-shadow(0 0 1px rgba(0, 0, 0, 0.6));
  transition: left 0.4s;
}

.vinyl-jacket:hover>.vinyl-wrapper {
  left: 62%;
}

.vinyl-record {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  background-color: #21201e;
  background-image: conic-gradient(from 45deg, rgba(255, 255, 255, 0.25), transparent 6.25% 43.75%, rgba(255, 255, 255, 0.25) 50%, transparent 56.25% 93.75%, rgba(255, 255, 255, 0.25)), radial-gradient(farthest-side, transparent 0 calc(100% - 1px), #342d2b 95.23% 100%), radial-gradient(farthest-side, transparent 0 95.23%, #342d2b 95.23% 100%), radial-gradient(farthest-side, rgba(255, 255, 255, 0.06) 0 40%, rgba(0, 0, 0, 0.2) 40% calc(40% + 1px), rgba(0, 0, 0, 0.12) calc(40% + 1px) 48%, #282826 48% calc(48% + 1px), transparent calc(48% + 1px) 100%), radial-gradient(farthest-side, transparent 63.8%, rgba(255, 255, 255, 0.03) 63.8% calc(63.8% + 1px), transparent calc(63.8% + 1px) 81.9%, rgba(255, 255, 255, 0.03) 81.9% calc(81.9% + 1px), transparent 0), repeating-radial-gradient(farthest-side, rgba(255, 255, 255, 0.005) 0 1px, transparent 1px 2px), repeating-radial-gradient(farthest-side, rgba(255, 255, 255, 0.005) 0 1px, transparent 1px 5px), repeating-radial-gradient(farthest-side, #1e1d1c, #21201e 12.5%);
  -webkit-mask-image: radial-gradient(transparent 2.4%, #fff 2.4%);
  box-shadow: inset 0 0 1px 1px #000, inset 0 0 0 2px rgba(110, 100, 101, 0.6);
}

.vinyl-record:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(0);
  border: 1px solid #3b3b38;
  border-radius: 50%;
  width: 33.33%;
  height: 33.33%;
  background-image: url("https://i.scdn.co/image/ab67616d0000b273e0114a86a2a0a7d8762951d9");
  background-size: cover;
  image-rendering: crisp-edges;
}


.mario-container {
  display: grid;
  width: 52px;
  margin-top: 45px;
  height: 72px;
  grid-template-columns: repeat(13, 4px);
  grid-template-rows: repeat(17, 4px);
}

.mario-red {
  background: #FE0002;
}

.mario-brown {
  background: #6A0400;
}

.mario-skin {
  background: #FFD987;
}

.mario-black {
  background: #000000;
}

.mario-blue {
  background: #0001FC;
}

.mario-yellow {
  background: #FFFF00;
}

.mario-hat1 {
  grid-row: 2 / span 1;
  grid-column: 4 / span 6;
}

.mario-hat2 {
  grid-row: 3 / span 1;
  grid-column: 3 / span 10;
}

.mario-head {
  grid-row: 4 / span 5;
  grid-column: 3 / span 8;
}

.mario-nose {
  grid-row: 5 / span 2;
  grid-column: 11 / span 2;
}

.mario-snoot {
  grid-row: 6 / span 1;
  grid-column: 13 / span 1;
}

.mario-eye {
  grid-row: 4 / span 2;
  grid-column: 9 / span 1;
}
.mario-mustache1 {
  grid-row: 7 / span 1;
  grid-column: 9 / span 4;
}
.mario-mustache2 {
  grid-row: 6 / span 1;
  grid-column: 10 / span 1;
}

.mario-chin {
  grid-row: 8 / span 1;
  grid-column: 11 / span 1;
}

.mario-hair1 {
  grid-row: 4 / span 1;
  grid-column: 3 / span 3;
}

.mario-hair2 {
  grid-row: 5 / span 3;
  grid-column: 2 / span 1;
}

.mario-hair3 {
  grid-row: 5 / span 2;
  grid-column: 4 / span 1;
}

.mario-hair4 {
  grid-row: 6 / span 1;
  grid-column: 5 / span 1;
}

.mario-hair5 {
  grid-row: 7 / span 1;
  grid-column: 3 / span 1;
}

.mario-torso {
  grid-row: 9 / span 4;
  grid-column: 3 / span 7;
}

.mario-sleeves1 {
  grid-row: 10 / span 1;
  grid-column: 2 / span 10;
}

.mario-sleeves2 {
  grid-row: 11 / span 1;
  grid-column: 1 / span 12;
}

.mario-sleeves3 {
  grid-row: 12 / span 1;
  grid-column: 10 / span 1;
}

.mario-hands {
  grid-row: 12 / span 3;
  grid-column: 1 / span 12;
}

.mario-waist {
  grid-row: 12 / span 3;
  grid-column: 4 / span 6;
}

.mario-pant1 {
  grid-row: 14 / span 2;
  grid-column: 8 / span 3;
}

.mario-pant2 {
  grid-row: 14 / span 2;
  grid-column: 3 / span 3;
}

.mario-left-shoe1 {
  grid-row: 16 / span 2;
  grid-column: 2 / span 3;
}

.mario-left-shoe2 {
  grid-row: 17 / span 1;
  grid-column: 1 / span 1;
}

.mario-right-shoe1 {
  grid-row: 16 / span 2;
  grid-column: 9 / span 3;
}

.mario-right-shoe2 {
  grid-row: 17 / span 1;
  grid-column: 12 / span 1;
}

.mario-left-brace {
  grid-row: 9 / span 3;
  grid-column: 5 / span 1;
}

.mario-right-brace {
  grid-row: 10 / span 2;
  grid-column: 8 / span 1;
}

.mario-brace-between {
  grid-row: 11 / span 1;
  grid-column: 5 / span 4;
}

.mario-left-button {
  grid-row: 12 / span 1;
  grid-column: 5 / span 1;
}

.mario-right-button {
  grid-row: 12 / span 1;
  grid-column: 8 / span 1;
}


.mario-container.jumping{
  animation: jump 1s ease-in-out forwards;
}

@keyframes jump {
  0% { transform: translateY(0); }
  20% { transform: translateY(-50px); } /* Jump up */
  30% { transform: translateY(-50px); } /* Stay at the top */
  50% { transform: translateY(0px); } /* Stay at the top */
  100% { transform: translateY(0); } /* Fall down */
}
